/* dark.qss */
QPlainTextEdit {
    background-color: #282c34;
    color: #abb2bf;
    selection-background-color: #61afef;
    selection-color: #282c34;
}

QLineEdit {
    background-color: #282c34;
    color: #abb2bf;
}

QPushButton {
    background-color: #3e4451;
    color: #abb2bf;
}